.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#top_part {
  padding: 0 1.5rem;
  margin-top: 7rem;
}

#about h1 {
  font-size: 1.125rem;
  margin-right: 1rem;
  line-height: 1.5rem;
}

#rImg {
  width: 120px;
  border: 2px solid #000000;
  border-radius: 21px;
  animation: slideInRight 1s;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#contact-address {
  padding: 0 1.5rem;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

#contact-address p {
  font-size: 0.875rem;
  margin-bottom: 0.125rem;
}

.hide {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  #about {
    width: 50%;
    text-align: center;
  }

  #about h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  #dImg {
    width: 50%;
  }

  #rImg {
    width: 250px;
    margin-left: 1rem;
  }

  #contact-address p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
}

@media screen and (min-width: 1024px) {
  #about {
    text-align: center;
  }

  #about h1 {
    font-size: 45px;
    word-wrap: break-word;
    width: 70%;
    margin: auto;
    line-height: 60px;
    text-align: left;
  }

  #rImg {
    width: 350px;
    margin-left: 1rem;
  }

  #contact-address p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  #contact-address {
    margin-bottom: 0.5rem;
  }
}
